.root{
  width: 100vw;
  height: 100vh;
}

.container{
  width: 100%;
  height: 100%;;
  display: flex;
  flex-direction: column;
}

.textwrap.active{
  flex: 1;
  display: flex;
}

.textwrap{
  height: 0px;
  flex: none;
  overflow: hidden;
}

.text{
  margin: 0;
  padding: 10px;
  flex: 1;
  resize: none;
}

.button{
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: gray;
}

.run.active{
  flex: 1;
}

.run{
  flex: 0;
  height: 0px;
  overflow: hidden;
}
.control{
  display: flex;
  align-items: center;
}

.control select{
  height: 20px;
  margin-right: 40px;
}