.root{
  width: 100vw;
  height: 100vh;
  background-color: #d2d7e7;
  padding: 0 10px;
}

.container{
  width: 100%;
  height: 100%;;
  display: flex;
  flex-direction: column;
}

.textwrap.active{
  flex: 1;
}

.textwrap{
  height: 0px;
  flex: none;
  overflow: hidden;
  transition: 0.3s;
  border-radius: 8px;
}

.text{
  margin-top: 10px;
  width: 100%;
  height: calc(100% - 10px);
  outline: none;
  padding: 10px;
  border: none;
  resize: none;
  transition: 0.3s;
  border-radius: 8px;
}

.button{
  margin: 10px 0;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #83a9db;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: larger;
}

.button:hover{
  background-color: #6889b3;

}

.run.active{
  flex: 1;
  padding: 0;
}

.run{
  flex: 0;
  height: 0px;
  transition: 0.3s;
  overflow: hidden;
}

.runwrap{
  height: calc(100% - 10px);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: white;
}

.control{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 10px 0;
}

.control select{
  height: 20px;
}

.unit{
  display: flex;
}

.unit h3{
  margin-right: 10px;
}

.divider{
  width: 100%;
  height: 2px;
  background-color: #83a9db;
}

.display{
  flex: 1;
  padding: 10px;
  overflow: scroll;
}